<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permiso para leer el almacenamiento externo (opcional, pero útil para otras operaciones) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="31">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ConfiguracionActivity"></activity>
        <activity android:name=".SaldoActivity"></activity>
        <activity android:name=".InicioActivity"></activity>
        <activity android:name=".Registro"></activity>
        <activity android:name=".AddCategoriaActivity"></activity>
        <activity android:name=".AddGastoActivity"></activity>
        <activity android:name=".AddIngresoActivity"></activity>
        <activity android:name=".AllCategoriasActivity"></activity>
        <activity android:name=".CategoriasActivity" />
        <activity android:name=".InformeActivity" />
        <activity android:name=".DetallesPerfilActivity" />
        <activity android:name=".PrivacidadActivity" />
        <activity android:name=".CentroSoporteActivity" />
        <activity android:name=".TerminosCondicionesActivity" />


    </application>

</manifest>
